.btn-menu {
  background-color: #17a2b8;
  color: #fff;
}

.form-text#contraseñaHelp {
  background-color: #e31f09;
  /* Verde turquesa similar al color del botón */
  color: white;
  /* Letras blancas */
  padding: 5px 10px;
  /* Relleno para que se vea como un "botón" */
  border-radius: 5px;
  /* Bordes redondeados */
  display: inline-block;
  /* Para que se comporte como un botón */
  font-size: 1.1rem;
  /* Tamaño de la fuente */
  margin-top: 10px;
  /* Espacio por encima del mensaje */
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 20px;
}

.titulo {
  color: #17a2b8;
}

.imgadmin {
  width: 300px;
}

.ocultar {
  display: none;
}

.mostrar {
  display: block;
}

.navbar-brand .logo-navbar {
  height: 120px;
  /* mantiene la proporcion de la imagen */
  width: auto;
}



.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  max-height: 0;

  overflow: hidden;
  background-color: #f1f1f1;
  transition: max-height 0.2s ease-out;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}