.nueva-conversacion{
    max-width: 800px; /* Ancho máximo */
    margin: 20px auto; /* Centrar horizontalmente */
    padding: 0; /* Sin padding */
}

.nueva-conversacion h2{
    text-align: center; /* Centrar título */
}

.area_debate {
    max-width: 800px; /* Ancho máximo */
    margin: 20px auto; /* Centrar horizontalmente */
    padding: 0; /* Sin padding */
}

.area_debate h2 {
    text-align: center; /* Centrar título */
}

.area_debate .form-control {
    margin-bottom: 15px; /* Espaciado entre campos */
}