/* Estilos de los botones */
.btn-menu {
  background-color: #17a2b8;
  color: #fff;
}

.form-text#contraseñaHelp {
  background-color: #e31f09;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  font-size: 1.1rem;
  margin-top: 10px;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 20px;
}

.titulo {
  color: #17a2b8;
}

.imgadmin {
  width: 300px;
}

.ocultar {
  display: none;
}

.mostrar {
  display: block;
}

.navbar-brand .logo-navbar {
  height: 120px;
  width: auto;
}

/* Estilo para los colapsables */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  background-color: #f1f1f1;
  transition: max-height 0.2s ease-out;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

/* reglas para hacer el footer fijo */

html,
body {
  height: 100%;
  /* Aseguramos que el body y html ocupen todo el alto */
  margin: 0;
  /* Eliminamos el margen por defecto */
  display: flex;
  /* Usamos flexbox para estructurar la página */
  flex-direction: column;
  /* Alineamos los elementos en columna */
}

body>div {
  flex: 1;
  /* Hace que el contenedor principal ocupe todo el espacio disponible */
}

footer {
  background-color: #343a40;
  /* Fondo oscuro para el footer */
  color: #ffffff;
  /* Texto blanco */
  text-align: center;
  /* Centra el contenido del footer */
  padding: 20px 0;
  /* Relleno vertical para el footer */
}