/* Estilo general del body */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
}

.form-text#contraseñaHelp {
    background-color: #e31f09;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    font-size: 1.1rem;
    margin-top: 10px;
}

.navbar-brand .logo-navbar {
    height: 120px;
    width: auto;
}

.navbar-text {
    line-height: 1.5;
    font-size: 1rem;
}

.error {
    color: red;
}

.titulo {
    color: #17a2b8;
}

.btn-menu {
    background-color: #17a2b8;
    color: #fff;
}

.carousel-image {
    height: 300px;
    object-fit: cover;
}

.card-image {
    height: 200px;
    object-fit: cover;
}

.nav-link {
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.card {
    border: none;
}

.btn-info {
    background-color: #17a2b8;
    color: #fff;
}

.btn-info:hover {
    background-color: #138496;
}

/* reglas para hacer el footer fijo */

/* Aseguramos que html y body ocupen toda la altura */
html,
body {
    height: 100%;
    /* Garantiza que ocupe toda la altura del viewport */
    margin: 0;
    /* Eliminamos el margen predeterminado */
    display: flex;
    /* Aplicamos flexbox */
    flex-direction: column;
    /* Organiza los elementos en columna */
}

/* Estilo para el contenedor principal */
body>div {
    flex: 1;
    /* Hace que el contenedor principal ocupe el espacio disponible */
}

/* Estilo para el footer */
footer {
    background-color: #343a40;
    /* Fondo oscuro */
    color: #ffffff;
    /* Texto blanco */
    text-align: center;
    /* Centrado de texto */
    padding: 20px 0;
    /* Relleno vertical */
}