body {
    background-color: #f8f9fa;
    /* color suave de fondo */
}

.card {
    border-radius: 10px;
    /* bordes redondeados para un estilo más suave */
}

h1 {
    font-size: 2rem;
    /* Título grande para la plataforma */
    color: #333;
}

h2 {
    font-size: 1.5rem;
    color: #333;
}

/* Estilo para el logo */
.logo {
    width: 150px;
    /* Ajustamos el tamaño del logo */
    height: auto;
    /* Mantenemos la proporción */
    margin-bottom: 20px;
}

a {
    font-size: 0.9rem;
    color: #007bff;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.pepe {
    width: 32rem;

}

.token {
    display: block;
    /* Esto fuerza al token a ocupar un renglón completo */
    font-family: monospace;
    /* Esto hace que el token se vea como un código */
    font-size: 1.2em;
    /* Aumenta un poco el tamaño de la fuente */
    margin-top: 5px;
    /* Espacio encima del token */
    padding: 5px;
    /* Padding alrededor del token */
    background-color: #f8f9fa;
    /* Color de fondo suave */
    border: 1px solid #07b836;
    /* Borde alrededor del token */
    border-radius: 5px;
    /* Esquinas redondeadas */
}